Data validator AI.json
{
  "name": "Data validator AI",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -656,
        -208
      ],
      "id": "6545b803-4187-48cf-bff8-7f0a11b56aeb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "validate",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -704,
        64
      ],
      "id": "92e8e3d0-0f9a-432a-b9e2-598239dfbaeb",
      "name": "Webhook",
      "webhookId": "064e4b92-d6a3-4599-827c-614643a2c42d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:4000/validate",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -448,
        -64
      ],
      "id": "a93ae025-e206-42a7-bf9f-d5c5596703a7",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db91ba31-b129-4755-a579-7e059ecd37bb",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -208,
        -176
      ],
      "id": "46508d1c-6909-4437-9b7f-1214763d36ce",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fromEmail": "ndedastacy@gmail.com",
        "toEmail": "ndedastacy@gmail.com",
        "subject": "AI Data Validation Report 🚨",
        "html": "=<div style=\"font-family: Arial; padding: 10px;\">\n\n<h2>📊 DATA QUALITY ALERT SYSTEM</h2>\n\n<hr>\n\n<h3>SUMMARY</h3>\n<p>{{$json[\"summary\"]}}</p>\n\n<hr>\n\n<h3>AI ANALYSIS</h3>\n<pre style=\"white-space: pre-wrap;\">\n{{$json[\"ai\"]}}\n</pre>\n\n<hr>\n\n<p style=\"color: gray;\">\nAutomatically generated by AI Validator Pipeline\n</p>\n\n</div> {{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        240,
        -112
      ],
      "id": "b38e930a-a54b-448f-8862-ac50a5e87291",
      "name": "Send an Email",
      "webhookId": "c3903013-7e1c-4b63-a88d-cd9d8a75356a",
      "credentials": {
        "smtp": {
          "id": "uCLJnadIcku1WIiu",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "53b65a14-de7e-45ad-858e-0c489f3c56cf",
              "leftValue": "={{ $json.data }}",
              "rightValue": 2,
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -32,
        -16
      ],
      "id": "0e0aaf0a-96d9-4021-b40a-ab7c10f7b059",
      "name": "If"
    },
    {
      "parameters": {
        "fromEmail": "ndedastacy@gmail.com",
        "toEmail": "ndedastacy@gmail.com",
        "html": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        176,
        80
      ],
      "id": "05410240-f368-492d-b544-c960a867486d",
      "name": "Send an Email1",
      "webhookId": "9a94b9d9-f048-400c-8c57-70c8a315c220",
      "credentials": {
        "smtp": {
          "id": "uCLJnadIcku1WIiu",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an Email": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send an Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "430f6688-51e6-4323-848e-4e5543284174",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fe3154b8723d1955b2cb53711c58f3ea45964e7c787823d18cc836249e756c00"
  },
  "id": "PpcW7YRiexKHGJUr",
  "tags": []
}